.filter-floating-btn {
  display: none;
  align-items: center;
  background: var(--green);
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  position: absolute;
  z-index: 4;
  left: calc(100% + 15px);
  padding: 11px 20px;
  height: 40px;
  transition: top 0.3s ease;
  border-radius: 3px;
}

.filter-floating-btn:not(.loading-products):hover {
  display: flex;
  background-color: rgb(131, 204, 33);
  box-shadow: 0 2px 10px rgba(131, 204, 33, 0.7);
  transition: background-color 0.2s ease;
}

.filter-floating-btn::before {
  content: '';
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  border: 7px solid transparent;
  border-right-color: var(--green);
  transition: border-right-color 0.2s ease;
}

.filter-floating-btn:hover::before {
  border-right-color: rgb(131, 204, 33);
}

.filter-floating-btn.visible {
  display: flex;
}

.filter-floating-btn.loading-products {
  background: var(--green) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='61' height='8' version='1.0' viewBox='0 0 457 60'%3E%3Cg%3E%3Ccircle cx='-31' cy='30' r='30' fill='%23fff'/%3E%3Ccircle cx='-97' cy='30' r='24' fill='%23fff' fill-opacity='.8'/%3E%3Ccircle cx='-163' cy='30' r='19' fill='%23fff' fill-opacity='.61'/%3E%3Ccircle cx='-229.5' cy='30.5' r='13.5' fill='%23fff' fill-opacity='.22'/%3E%3Ccircle cx='-295' cy='31' r='11' fill='%23fff' fill-opacity='.12'/%3E%3CanimateTransform attributeName='transform' calcMode='discrete' dur='960ms' repeatCount='indefinite' type='translate' values='61 0;127 0;193 0;259 0;325 0;391 0;457 0;523 0;589 0;655 0;721 0;787 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;'/%3E%3C/g%3E%3Cg%3E%3Ccircle cx='488' cy='30' r='30' fill='%23fff'/%3E%3Ccircle cx='554' cy='30' r='24' fill='%23fff' fill-opacity='.8'/%3E%3Ccircle cx='620' cy='30' r='19' fill='%23fff' fill-opacity='.61'/%3E%3Ccircle cx='686.5' cy='30.5' r='13.5' fill='%23fff' fill-opacity='.22'/%3E%3Ccircle cx='753' cy='31' r='11' fill='%23fff' fill-opacity='.12'/%3E%3CanimateTransform attributeName='transform' calcMode='discrete' dur='960ms' repeatCount='indefinite' type='translate' values='0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;-61 0;-127 0;-193 0;-259 0;-325 0;-391 0;-457 0;-523 0;-589 0;-655 0;-721 0;-787 0;'/%3E%3C/g%3E%3C/svg%3E") 50% no-repeat;
  color: transparent;
}
