.cloud-options {
  background: #fff;
  height: 100%;
  border-radius: 3px;
  padding: 30px 15px 30px 30px;
}

.cloud-options__inner {
  margin-bottom: 15px;
}

.cloud-options__scroll {
  max-height: 428px;
}

.cloud-options__wrapper {
  padding-right: 15px;
}

.cloud-options__section {
  margin-bottom: 20px;
}

.cloud-options__section-title {
  display: block;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
}

.cloud-options__subsection {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-gap: 10px;
  margin-bottom: 10px;
}

.cloud-options__subsection-title {
  font-size: 14px;
}

.cloud-options__subsection-price {
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
  align-self: center;
}

.cloud-options__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.cloud-options__subsection-grid {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.cloud-options__item {
  width: 100%;
  position: relative;
  padding-top: 100%;
  background: var(--gray-100);
  border-radius: 3px;
}

.cloud-options__item-img {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.cloud-option__view-all {
  padding-right: 15px;
}
