.city-select {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  min-width: 135px;
  border-right: 1px solid var(--gray-200);
  height: 100%;
}

.city-select:hover {
  cursor: pointer;
}

.city-select__name {
  display: block;
  min-width: 35px;
  max-width: 145px;
  color: var(--gray-400);
  font-size: 14px;
  margin-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.city-select:hover .city-select__name {
  color: var(--green);
}

.city-select:hover .city-select__icon path {
  fill: var(--green);
}

.city-select__more-icon {
  margin-left: 45px;
}

.city-select:hover .city-select__more-icon path {
  fill: var(--green);
}

@media screen and (max-width: 1199px) {
  .city-select {
    padding: 0 20px;
  }
}
