.mobile-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.mobile-menu-list__btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #fff;
  padding: 10px 15px;
}

.mobile-menu-list__icon {
  transition: transform 0.3s ease;
}

.mobile-menu-list__icon.active {
  transform: scaleY(-1);
}

.mobile-menu-list__dropdown {
  list-style: none;
  padding: 0;
  margin: 0 0 25px 0;
}

.mobile-menu-list__link {
  display: block;
  color: #fff;
  width: 100%;
  padding: 7px 30px;
}

@media screen and (max-width: 767px) {
  .mobile-menu-list__btn {
    max-width: 385px;
  }
}
