.price {
  display: flex;
  align-items: flex-end;
  font-size: 20px;
  font-weight: 700;
  color: var(--gray-600);
}

.price_big {
  font-size: 24px;
}

.price__currency {
  font-size: 16px;
  font-weight: 400;
  margin-left: 5px;
}

.price__unit {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray-400);
}
