.quantity {
  display: flex;
  align-items: center;
  background: var(--gray-200);
  border-radius: 3px;
}

.quantity__btn {
  width: 40px;
  height: 40px;
}

.quantity__btn:first-of-type {
  border-radius: 3px 0 0 3px;
}

.quantity__btn:last-of-type {
  border-radius: 0 3px 3px 0;
}

.quantity__btn:hover {
  background: var(--gray-300);
}

.quantity__btn:hover path {
  fill: #333;
}

.quantity__change-count-wrapper {
  position: relative;
  z-index: 1;
  width: 1px;
}

.quantity__change-count {
  font-size: 13px;
  border-radius: 20px;
  height: 17px;
  min-width: 17px;
  max-width: 32px;
  background: transparent;
  padding: 2px 5px;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

.quantity__change-count:focus {
  background: #fff;
}
