.footer {
  background: var(--gray-600);
}

.footer__inner {
  display: flex;
}

.footer_border {
  border-bottom: 1px solid var(--gray-500);
}

.footer__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  padding: 60px 0 45px;
}

.footer-menu__btn {
  max-width: 200px;
  margin-top: 20px;
}

@media screen and (max-width: 1023px) {
  .footer__grid {
    grid-gap: 20px;
    padding: 45px 0 35px;
  }
}

@media screen and (max-width: 767px) {
  .footer__grid {
    grid-template-columns: 1fr;
  }
}
